asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
Django @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/django_1699555153998/work
gunicorn==23.0.0
packaging==24.1
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
setuptools==72.1.0
sqlparse @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/sqlparse_1699544474746/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
wheel==0.43.0
